.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .artwork {
      padding: 0!important;
      margin: 0!important;
  }

  .artist {
    padding: 0!important;
    margin: 0!important;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

a button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    border: 3px solid #555;
    font-size: 18px;
}

.card-title {
  text-align: center;
}

.card-body p {
  text-align: center;
}

.collection h5 {
  text-align: center;
}

.cover {
  position: relative;
}

.covertitle {

  font-size: 4.25rem!important;
  display: flex;
  text-align: center;
  position: absolute;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  left: 40%;
  right:40%;
  top:40%;
  color: white
}

.covertitle h1 {
  /* border: 5px solid rgb(55, 68, 61); */
  /* padding: 7px 33%; */
  font-size: 4.25rem!important;
  font-family: "Domaine Display", serif;

}

h2 {
  font-family: "Domaine Display", serif;
  text-align: center;
}



.covertext {


  display: flex;
  text-align: center;
  position: absolute;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  left: 31%;
  right:31%;
  top:55%;
  color: white;
}

.covertext p {
  font-size: 1.75rem!important;
  font-family: proxima-nova,sans-serif;
  letter-spacing: 5px;

}

